<%= form_for(@miniature) do |f| %>
  <% if @miniature.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@miniature.errors.count, "error") %> prohibited this miniature from being saved:</h2>

      <ul>
      <% @miniature.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :count %><br>
    <%= f.number_field :count %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :game %><br>
    <%= f.collection_select(:game, Game.all, :id, :name) %>
  </div>
  <div class="actions">
    <%= f.submit 'Save', :class => 'button' %>
  </div>
<% end %>
