<h2>My <%= @game.name %> Collection</h2>

<ul>
  <% for miniature in @miniatures %>
  <li>
    <a href="/miniatures/<%= miniature.id %>"><%= miniature.name %>: <%= miniature.count %></a>
  </li>
  <% end %>
</ul>
