<p id="notice"><%= notice %></p>

<h1>Listing Miniatures</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Count</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @miniatures.each do |miniature| %>
      <tr>
        <td><%= miniature.name %></td>
        <td><%= miniature.count %></td>
        <td><%= miniature.description %></td>
        <td><%= link_to 'Show', miniature %></td>
        <td><%= link_to 'Edit', edit_miniature_path(miniature) %></td>
        <td><%= link_to 'Destroy', miniature, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Miniature', new_miniature_path %>
