<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @miniature.name %>
</p>

<p>
  <strong>Count:</strong>
  <%= @miniature.count %>
</p>

<p>
  <strong>Description:</strong>
  <%= @miniature.description %>
</p>

<%= link_to 'Edit', edit_miniature_path(@miniature) %> |
<%= link_to 'Back', miniatures_path %>
