<div class="row">
  <div class="large-6 columns">
    <h2>My Collection</h2>
    <ul>
      <% for game in @games %>
      <li>
        <a href="/collection/<%= game.id %>"><%= game.name %></a>
      </li>
      <% end %>
    </ul>
  </div>
</div>
