<!DOCTYPE html>
<html>
<head>
  <title>War Collector</title>
  <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/css/normalize.min.css">
  <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/css/foundation.min.css">
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/js/vendor/jquery.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/js/foundation.min.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <% if user_signed_in? %>
        <h1><a href="/dashboard">War Collector</a></h1>
        <% else %>
        <h1><a href="/">War Collector</a></h1>
        <% end %>
      </li>
    </ul>
    <section class="top-bar-section">
      <% if user_signed_in? %>
        <ul class="right">
          <li>
            <%= link_to 'Log Out', destroy_user_session_path %>
          </li>
        </ul>
        <ul class="left">
          <li>
            <%= link_to 'Games', games_path %>
          </li>
          <li>
            <%= link_to 'Miniatures', miniatures_path %>
          </li>
        </ul>
      <% else %>
        <ul class="right">
          <li><%= link_to 'Log In', new_user_session_path %></li>
          <li><%= link_to 'Register', new_user_registration_path %></li>
        </ul>
      <% end %>
    </section>
  </nav>
  <div class="row">
      <div class="large-12 columns">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <%= yield %>
    </div>
  </div>

</body>
</html>
